body {
  background: #D3D3D3;
  color: #434343;
  h1 {
    color: #333333;
  }
}

.user_alarm{
	background: url(../images/i_alarm.png);
}

.user_close_red{
	background: url(../images/i_close_red.png);
}

.user_refresh_s{
	background: url(../images/i_refresh_s.png);
}

.user_right{
	background: url(../images/i_right.png);
}